streamlit>=1.32.0
scipy
pandas
numpy
scikit-learn
geopandas
plotly
folium
streamlit-folium
matplotlib
google-cloud-storage
google-auth
shapely>=2.0.0
pyarrow>=15.0.0
altair>=5
requests
google-cloud-bigquery
streamlit-autorefresh
